<!DOCTYPE html>
<html>
  <head>
    <title>Python Websockets Chat Demo</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Python Websockets Chat Demo</h1>
        <hr />
        <p>This is a Python WebSockets Chat Demo. The code lives <a href="https://github.com/heroku-examples/python-websockets-chat">on GitHub</a>. </p>
        <p>You can find the full guide in <a href="https://devcenter.heroku.com/articles/python-websockets">Heroku DevCenter</a>.</p>
      </div>
      
    </div>

  </body>
</html>